<nav class="navbar" id="navbar">
    <div class="nav-left">
      <a href="/">Senior Connect </a>
      <span>       </span>
    </div>
    
    <div class="nav-right">
        <span></span><span class="showElderlyName"><a href="/shop">Shop</a></span></span>
        <span></span><span class="showElderlyName"><a href="/profile">Log In</a></span></span>
    </div>
  </nav>