<nav class="navbar" id="navbar">
    <div class="nav-left">
      <a href="/">Senior Connect </a>
      <span>       </span>
    </div>
    
    <div class="nav-right">
        <span></span><span class="showElderlyName"><a href="/shop">Shop</a></span></span>
        <a href="/profile"><img src="images/profile.png" style="width:25px;  height:25px;"></a>
    </div>
  </nav>