<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Senior Connect - Daily Picture Check-In</title>
  <%- include('partials/fonts.ejs') %>

    <link rel="stylesheet" href="/styles.css">
    <!-- Only load omikuji and puzzle if needed -->
    <link rel="stylesheet" href="/puzzle.css">
    <script defer src="/puzzle.js"></script>

</head>

<body>

  <!-- NAVBAR -->
  <nav id="navbar" style="justify-content:center; padding:10px; background:#eee;">
    <div>
      <span>Senior Connect
        <button id="enterIdBtn"></button>
      </span>
    </div>
  </nav>

  <div id="headerText"></div> <!-- Top text, changes based on the time of day-->
  <div id="2ndHeaderText"></div>
  <div id="gameArea"> <!--The div that stores the items and the baskets -->

    <div id="tray" role="list"></div> <!-- the tray, can be reordered by swapping with the baskets -->
    <div class="baskets" id="baskets"></div> <!-- the baskets, can be reordered by swapping with the tray -->
    <div id="message" aria-live="polite"></div> <!-- message that appears after check-in completion -->

  </div>

  <!-- FORTUNE GAME (HIDDEN UNTIL gameMode === 'omikuji') -->

  <div id="omikujiWrapper" style="display:none;">
    <div id="2ndHeaderText"></div>
    <div id="sticksTray"></div>
    <button id="drawStickBtn">Get Today's Fortune!</button>
  </div>
  <div id="fortuneMessage" style="margin-top:10px;font-size:1.2em;"></div>

  <!-- PUZZLE GAME (HIDDEN UNTIL gameMode === 'puzzle') -->
  <div id="puzzleWrapper" style="display:none;">
    <h2 id="puzzleTitle">Complete the Picture</h2>
    <div id="puzzleGrid">
      <div class="puzzle-piece"></div>
      <div class="puzzle-piece"></div>
      <div class="puzzle-piece"></div>
      <div class="puzzle-piece"></div>
    </div>
  </div>

  <!-- Dropdown for changing the language -->
  <div class="language-selector-container">
    <label for="languageSelect" id="languageSelectLabel">Select Language:</label>
    <select id="languageSelect" onchange="handleLanguageChange(this.value)">
      <!-- get the value (lang code) of chosen language-->
      <option value="en" selected>English</option>
      <option value="zh">ф╕нцЦЗ</option>
      <option value="ms">Bahasa Melayu</option>
      <option value="ta">родрооро┐ро┤рпН</option>
    </select>
  </div>

  <button onclick="confirmEmergency()"
    style="padding: 16px 28px; background:red; color:white; font-size:20px; border-radius:8px;">
    ЁЯЪи Emergency </button>

  <script src="/script.js"></script>
</body>

</html>