<%- include('partials/htmlheader.ejs') %>
  <body>
    <main class="container">
      <h1>Join Meeting</h1>
      <button class="confirm-btn">Join Now</button>
      <a href="/" class="back-btn">Back</a>
    </main>
  </body>
<%- include('partials/htmlfooter.ejs') %>