body {
    font-family: 'Lato', sans-serif;
    padding: 20px;
    background: #fff8dc;
}

h1 {
    text-align: center;
}

#shop-items {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 4px;
}

.shop-item {
    background: #fff;
    padding: 16px;
    border-radius: 12px;
    border-style: solid;
    border-color: #f39c12;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 180px;
    
}

.buy-btn {
    margin-top: 10px;
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    background: #f5b041;
    color: #fff;
    cursor: pointer;
}

.back-btn {
    margin-top: 100px;
    border: none;
    border-radius: 8px;
    background: #f5b041;
    color: #fff;
    cursor: pointer;
}

.buy-btn:hover {
    background: #f39c12;
}

.back-btn:hover {
    background: #f39c12;    
}

#footer-div {
    margin-top: 10px;
    padding: 12px 12px 12px 12px;
    border: none;
    border-radius: 8px;
    background: #f5b041;
    color: #fff;
    cursor: pointer;
    width: 140px;
}